<div class="container justify-content-center">
  <div class="row justify-content-center">
    <p>
      <a routerLink="extalum" class="btn btn-sq-lg btn-primary">
          <br>
          <img src="../../../assets/pdf.png"   style="width: 50%; height: 50%;" alt="..."> <br>
          <i class="fa fa-user fa-5x"></i><br/>
          Extraer Datos PDF<br>
      </a>
      <a routerLink="con" class="btn btn-sq-lg btn-primary">
          <br>
          <img src="../../../assets/learn.png"   style="width: 50%; height: 50%;" alt="..."> <br>
          <i class="fa fa-user fa-5x"></i><br/>
          Consultas<br>
      </a>
      <a routerLink="gen" class="btn btn-sq-lg btn-primary">
          <br>
          <img src="../../../assets/storage.png"   style="width: 50%; height: 50%;" alt="..."> <br>
          <i class="fa fa-user fa-5x"></i><br/>
          Plan de Estudio<br>
      </a>
      <a routerLink="carrera" class="btn btn-sq-lg btn-primary">
          <br>
          <img src="../../../assets/carrera.png"   style="width: 50%; height: 50%;" alt="..."> <br>
          <i class="fa fa-user fa-5x"></i><br/>
          Carrera<br>
      </a>
    </p>
  </div>
</div>  
