<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Carrera</h4>
        <input class="col-md-8" type="text" [(ngModel)]="carNom">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="modificarCarrera()" data-toggle="modal" data-target="#exiss" data-dismiss="modal">Modificar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Registro -->
<div class="modal fade" id="ModalR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Carrera</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid">

        <h4>Carrera</h4>
        <input class="col-md-8" type="text" [(ngModel)]="carNomn">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="nuevo()"  data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
              
<div class="row  justify-content-md-center" >
  <div class="col-md-8" >
      <button class="btn btn-outline-primary" type="button"  data-toggle="modal" data-target="#ModalR">Crear Nueva Carrera</button>
      <br><br><br>    
      <div class="card" *ngFor="let ress of carrera">
          <div class="input-group">
          <div class="card-body" aria-describedby="button-addon4">
                {{ress.nombre}} 
                </div>
                <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-info" type="button" (click)="Loadmodal(ress)" data-toggle="modal" data-target="#exampleModal">Modificar</button>
                </div>
          </div>
      </div> 
  <br>
  </div>
  </div>
